@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --terracotta: #E2725B;
        --deep-charcoal: #2D2D2D;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-display antialiased;
        color: var(--deep-charcoal);
        margin: 0;
        background-color: #fcfcfc;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}